h1 {
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 20px;
}


.Photo_01 {

    border: 10px solid rgb(228, 137, 18);
    background: rgb(233, 236, 21);
    width: 300px;
    padding: 32px; 
    margin: 16px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 14, 14);
    width: 400px;
    height: 300px;
    margin: 16px;
    
        }
       
